---
import '../../styles/Food.css'
import '../../styles/global.css'
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Traveling For Declious Food"

import {Content as FoodIndex} from './index.md'

---

<BaseLayout pageTitle={pageTitle}>
    <div id="main" style="width: 600px;height:400px;" ></div>
    <script>
        import '../../scripts/food.js'
    </script>
    <FoodIndex />
</BaseLayout>
