<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <h1>About Me</h1>
    <h2>... and my new Astro Site!</h2>

    <p>I am a nobody in the World</p>

    <p>This site will introduce the interesting things I like</p>
</body>