<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog">blog</a>

    <h1>My Astro Learning Blog</h1>
    <p>This is the begining of the blog of my journey learning Astro.</p>
</body>