---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/Homepage.css'
import { Image} from 'astro:assets'

import localcover from '../img/cover.jpeg'

const pageTitle = 'HomePage';

---
<style>
  h1 {
    font-family: 'SmileySans-Oblique';
  }
  .nav-links #Home-links {
    font-weight:bold;
  }
  
</style>

<BaseLayout pageTitle={pageTitle}>


  <figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
    <Image class="w-24 h-24 md:w-72 md:h-72 md:rounded-none rounded-full mx-auto" src={localcover} alt="" width={640} height={320}></Image>
    
    <div class="pt-6 md:p-8 text-center md:text-justify space-y-4">
      <blockquote>
        <p class="text-lg font-medium">
          “Weclome to my website! I am an aero engineer in China. I have so many hobby
          such as writing blogs, finding declious food, reading interesting book, watching movie in cinema, 
          playing computer games and doing execrise no more often.”
        </p>
      </blockquote>
      <figcaption class="font-medium">
        <div class="text-sky-500 dark:text-sky-400">
          Mr Legendson 
        </div>
        <div class="text-slate-700 dark:text-slate-500">
          aero Engineer, China
        </div>
      </figcaption>
    </div>



  </figure>

</BaseLayout>

