---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';


import { Image, Picture} from '@astrojs/image/components'

import localcover from '../img/cover.jpeg'

const pageTitle = '主页';
---

<BaseLayout pageTitle={pageTitle}>
  <Image src={localcover} alt=""></Image>
  <h2>我们最棒的主页！</h2>
  
</BaseLayout>