---
---
<div transition:animate="slide" class="nav-links">
  <a href="/" id="Home-links">Home</a>
  <a href="/blog/" id="Blog-links">Blog</a>
  <a href="/food/" id="Food-links">Food</a>
  <a href="/about/" id="About-links">About</a>
  <a href="/tags/" id="Tags-links">Tags</a>
</div>